.LookArt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  transition: all 300ms;
  transition: filter 250ms;
  position: relative;
  width: 100vw;
  height: 140vh;
  align-items: left; 
  margin-bottom: 30vh;
  

  @mixin look {
    transition: all 300ms;
    position: absolute;
    top:0%;
    display: flex;
    background-color: #fff; 
  } 

  div.firstLook {
    @include look;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    min-width: 100vw;
    left: 0%;
    height: 100%;

    &.firstOpen {
      left: -200%;
    }
  }

  div.secondLook {
    @include look;
    width: 100%;
    min-height: 100vh;
    left: 200%;    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
    .full {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: 30%;
      // max-width: 50%;
      width: 100%;
      min-height: 25vh;
      margin-right: 1%;
      margin-left: 1%;       

      p, h1{
        color: #000;
        background-color: #fff;
        margin-right: 1%;
      margin-left: 1%;    
        // padding: 2rem 0 0 2rem;       
      }

      &.blured{
        filter: blur(7px);
      }      
    }

    &.secondOpen {
      left: 0%;
    }
  }

  @media screen and (min-width: 750px) {    
    
    div.secondLook {
      flex-direction: row;
      align-items: center;      

      .full{
        height: 100%;
        max-width: 50%;
      width: auto;
      }
    }

  }

  @media screen and (min-width: 750px) {    
    
  }

  @media screen and (min-width: 1000px) {    
    height: 100vh;

    
  }
}
