.LookArt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  transition: all 800ms;
  transition: filter 250ms;
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: center;

 
  @mixin look {
    transition: all 800ms;
    position: absolute;
    top:0%;
    display: flex;
    background-color: #fff; 
  }
 

  div.firstLook {
    @include look;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    min-width: 100vw;
    left: 0%;

    &.firstOpen {
      left: -100%;
    }
  }

  div.secondLook {
    @include look;
    width: 100%;
    min-height: 100%;
    left: 110%;    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

   
    .full {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: 30%;
      min-width: 50%;
      color: #000;
      height: 100%;
      padding: 25px;
      max-height: 80vh;

      p, h1{
        color: #000;
        background-color: #fff;
        padding: 2rem 0 0 2rem;
      }
    }

    &.secondOpen {
      left: 0%;
    }
  }

  @media screen and (min-width: 500px) {    
    
    div.secondLook {
      flex-direction: row;
      align-items: center;
    }
  }
}
