.container {
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
  
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondLayer{
  z-index: 1;
  position: relative;
  background-color: #fff;
}

.siteHeader {
  width: auto;
  height: 100vh;
  background-image: url('../../public/assets/autoportret-z-maskamibig.png');
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-size:cover;  
  background-attachment: fixed;

  
    animation-name: curtine;
    animation-delay: 50ms;
    animation-duration: 17s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;


@keyframes curtine {
    0% {
      background-image: url('../assets/naStrone/melancholik.jpg');
    }

    20% {
     
      background-image: url('../assets/naStrone/ObszarKompozycji.jpg');
    }

    40% {
     
      background-image: url('../assets/naStrone/ostatnidzien.jpg');
    }

    60% {
     
      background-image: url('../assets/naStrone/pandemicdream.jpg');
    }

    80% {
     
      background-image: url('../assets/naStrone/wedrowiec.jpg');
    }

    100% {
      background-image: url('../assets/naStrone/melancholik.jpg');
    }
}
 

  &.blur{
    filter: blur(8px);
    transition: filter 250ms;
  }

  @media screen and (min-width: 700px) {
    font-size: 2rem;
  }
}

span.anitaText{
  font-weight: bold;
  font-size: 1.5em;
  position: fixed;
  top: 12px;
  right: 57px;
  color: #000;
  text-align: right;    
  z-index: 0;
  display: block;

}
